.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(209, 206, 206);
    border-radius: 10px;
    overflow: hidden;
}

.p_browser{
    height: 20px;
    background-color: rgb(209, 206, 206);
    display: flex;
    align-items: center;
}

.p_circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}